@import "../../node_modules/angular-material/angular-material.css"
@import "./material-icons.styl"

contentBg = #F6F6F6
pink = #E91E63
blue = #2196F3
light-blue = #03A9F4
purple = #9C27B0
lime = #CDDC39
teal = #009688
cyan = #00BCD4
orange = #FF9800

colorBg()
  &.pink
    background-color pink
  &.blue
    background-color blue
  &.light-blue
    background-color light-blue
  &.purple
    background-color purple
  &.lime
    background-color lime
  &.teal
    background-color teal
  &.cyan
    background-color cyan
  &.orange
    background-color orange

html
  background-color contentBg
  body
    background-color contentBg
  md-content
    background-color contentBg

#header
  padding-top 15px
  height 75px
  color #fff
  background -webkit-linear-gradient(left,#2193b0,#6dd5ed)
  background linear-gradient(to right,#2193b0,#6dd5ed)
  min-height 278px
  margin-bottom -100px
  md-icon
    color #fff
    margin-right 10px

#main-content
  margin-top: 20px

.container
  width: 100%
  max-width 1200px
  margin 0 auto

md-grid-list
  .category
    colorBg()

md-dialog.items
  min-height 400px
  md-toolbar
    colorBg()

.vertical-container
  height 292px
  .repeated
    h3
      font-size: 16px
      font-weight: 400
      letter-spacing: 0.01em
      margin: 0 0 6px 0
      line-height: 0.75em


md-tabs
  background #f6f6f6
  border 1px solid #e1e1e1

  md-tabs-wrapper
    background white