md-content#main-content.container
  md-tabs(md-selected='selectedTab' style='min-height: 1000px;')
    md-tab(label='KATEGORİLER')
      md-content(layout-padding)
        md-grid-list(md-cols-sm='1' md-cols-md='2' md-cols-gt-md='6' md-row-height-gt-md='1:1' md-row-height='4:3' md-gutter='8px' md-gutter-gt-sm='4px')
          md-grid-tile.category(ng-repeat='cat in categories' md-rowspan='1' md-colspan='1' md-colspan-sm='1' ng-click='showItems($index, $event)')
            md-icon shopping_cart
            md-grid-tile-footer
              h3 {{cat.name}}
    md-tab(label='TÜM SEPET')
      md-content(layout='row' layout-wrap)
        md-card(flex='30' ng-repeat='category in categories' layout-padding)
          md-card-title
            md-card-title-text {{category.name}}
          md-list
            md-list-item.md-2-line(ng-repeat='item in (category.showAll ? category.items : category.items.slice(0,8)) | filter: filters')
              .md-list-item-text {{item.name}}
            div(ng-if='category.items.length>8')
              md-divider
              md-button.md-accent(ng-click='showItems($index, $event)') Daha Fazla
