md-dialog.items(aria-label='Mango (Fruit)' flex='80')
  md-toolbar
    .md-toolbar-tools
      h2 {{category.name}}
      span(flex='')
      md-button.md-icon-button(ng-click='close()')
        md-icon close
  md-dialog-content
    md-list(layout='column')
      md-list-item.md-2-line(flex ng-repeat='item in category.items | filter: filters')
        .md-list-item-text
          h3 {{ item.name }}
