doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='css/main.css')

  body(ng-keydown='fwEvent($event)', layout='column')

    md-toolbar(layout='row' layout-padding)
      md-icon shopping_basket
      h1.md-toolbar-tools Enflasyon Sepeti

    #content
    ng-view

    script(src='js/bundle.js')
