doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')

  body(layout-wrap ng-cloak)

    #header
      .md-toolbar
        .md-toolbar-tools
          md-icon shopping_basket
          h1
            span Enflasyon Sepeti
          span(flex)
          .motto
            p Enflasyonu belirleyen ürünler.
        div(layout='column' layout-align='center center')
          form.search(flex action='#' ng-controller='SearchCtrl')
            md-input-container.md-icon-float.md-accent
              label Ara
              md-icon search
              input(ng-model='term')

    #content
      ng-view

    script(src='js/bundle.js')
